In [49]:
#module imports
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import glob

os.getcwd()

'/nas/cee-water/cjgleason/ellie/SNiP/Aquasat'

In [50]:
#Read in aquasat
aqua = pd.read_csv(r'aquastreamTSS.csv')
print(aqua.shape[0])
print(aqua.columns.values.tolist())

print(aqua[aqua['SiteID'] == 'USGS-15292780'])

83948
['system.index', 'SiteID', 'blue', 'blue_sd', 'date_unity', 'green', 'green_sd', 'nir', 'nir_sd', 'path', 'pixelCount', 'qa', 'qa_sd', 'red', 'red_sd', 'row', 'sat', 'swir1', 'swir1_sd', 'swir2', 'swir2_sd', '.geo', 'endtime', 'date', 'date_only', 'chl_a', 'doc', 'p_sand', 'secchi', 'tis', 'tss', 'source', 'lat', 'long', 'TZID', 'date_utc', 'clouds', 'time', 'landsat_id', 'timediff', 'pwater', 'type', 'id']
       system.index         SiteID     blue      blue_sd  \
83783            40  USGS-15292780    984.0     0.000000
83784            42  USGS-15292780    730.0    63.803299
83785            44  USGS-15292780   5840.0  3879.929111
83786            45  USGS-15292780    633.0    29.461859
83787            47  USGS-15292780  20000.0  4352.581595
83829             0  USGS-15292780    624.0    73.649146

                 date_unity   green    green_sd     nir       nir_sd  path  \
83783  2013-08-13T00:15:00Z  1134.0    0.000000  1223.0     0.000000    69
83784  1984-09-21T21:35:00Z   842.0   79.111318   440.0    88.849475    69
83785  1986-03-19T00:45:00Z  6394.0  882.130984  5519.0  1059.566754    69
83786  1986-05-22T17:30:00Z   871.0   38.260726   704.0    33.011356    69
83787  2012-03-20T03:30:00Z  7987.0  495.971325  7875.0   520.437022    69
83829  1985-09-16T22:05:00Z   826.0   97.029665   632.0    85.502102    70

       ...        long  TZID              date_utc  clouds  \
83783  ... -150.172672   UTC  2013-08-13T00:15:00Z    51.0
83784  ... -150.172672   UTC  1984-09-21T21:35:00Z    26.0
83785  ... -150.172672   UTC  1986-03-19T00:45:00Z     9.0
83786  ... -150.172672   UTC  1986-05-22T17:30:00Z     5.0
83787  ... -150.172672   UTC  2012-03-20T03:30:00Z    48.0
83829  ... -150.172672   UTC  1985-09-16T22:05:00Z    39.0

                       time                                landsat_id  \
83783  2013-08-13T21:09:04Z  LE07_L1TP_069017_20130813_20160907_01_T1
83784  1984-09-22T20:43:56Z  LT05_L1TP_069017_19840922_20161004_01_T1
83785  1986-03-20T20:39:47Z  LT05_L1TP_069017_19860320_20161004_01_T1
83786  1986-05-23T20:38:15Z  LT05_L1TP_069017_19860523_20161004_01_T1
83787  2012-03-19T21:07:56Z  LE07_L1TP_069017_20120319_20160912_01_T1
83829  1985-09-16T20:48:51Z  LT05_L1TP_070016_19850916_20161004_01_T1

        timediff  pwater    type   id
83783 -20.901293    96.0  Stream  New
83784 -23.148916    96.0  Stream  New
83785 -43.913129    96.0  Stream  New
83786 -27.137516    96.0  Stream  New
83787   6.367596    96.0  Stream  New
83829   1.269025    96.0  Stream  New

[6 rows x 43 columns]

In [51]:
#Clean for stream and for tss
aquatss = aqua[aqua['tss'] > 0]
df = aquatss[aquatss['type'] == 'Stream']
print(df.shape[0])

83948

In [52]:
#add band ratios of interest
df = df.assign(NR = df['nir']/df['red'],
                BR = df['blue']/df['red'],
                GR = df['green']/df['red'],
                SR = df['swir1']/df['red'],
                BG = df['blue']/df['green'],
                RG = df['red']/df['green'],
                NG = df['nir']/df['green'],
                SG = df['swir1']/df['green'],
                BN = df['blue']/df['nir'],
                GN = df['green']/df['nir'],
                RN = df['red']/df['nir'],
                SN = df['swir1']/df['nir'],
                BS = df['blue']/df['swir1'],
                GS = df['green']/df['swir1'],
                RS = df['red']/df['swir1'],
                NS = df['nir']/df['swir1'],
                R_GN = df['red']/ (df['green'] + df['nir']),
                R_GB = df['red']/ (df['green'] + df['blue']),
                R_GS = df['red']/ (df['green'] + df['swir1']),
                R_BN = df['red']/ (df['blue'] + df['nir']),
                R_BS = df['red']/ (df['blue'] + df['swir1']),
                R_NS = df['red']/ (df['nir'] + df['swir1']),
                G_BR = df['green']/ (df['blue'] + df['red']),
                G_BN = df['green'] / (df['blue'] + df['nir']),
                G_BS = df['green'] / (df['blue'] + df['swir1']),
                G_RN = df['green'] / (df['red'] + df['nir']),
                G_RB = df['green'] / (df['red'] + df['blue']),
                G_NS = df['green'] / (df['nir'] + df['swir1']),
                B_RG = df['blue'] / (df['red'] + df['green']),
                B_RN = df['blue'] / (df['red'] + df['nir']),
                B_RS = df['blue'] / (df['red'] + df['swir1']),
                B_GN = df['blue'] / (df['green'] + df['nir']),
                B_GS = df['blue'] / (df['green'] + df['swir1']),
                B_NS = df['blue'] / (df['nir'] + df['swir1']),
                N_RG = df['nir'] / (df['red'] + df['green']),
                N_RB = df['nir'] / (df['red'] + df['blue']),
                N_RS = df['nir'] / (df['red'] + df['swir1']),
                N_GB = df['nir'] / (df['green'] + df['blue']),
                N_GS = df['nir'] / (df['green'] + df['swir1']),
                N_BS = df['nir'] / (df['blue']  + df['swir1']),
                
                GR2 = (df['green'] + df['red']) / 2,
                GN2 = (df['green'] + df['nir']) / 2,
                RN2 = (df['red'] + df['nir']) / 2,
               
                #blooms
                BR_G = (df['blue'] - df['red']) / df['green'],
                NS_NR = (df['nir'] - df['swir1']) / (df['red'] - df['swir1']),
                fai = df['nir'] - (df['red'] + (df['swir1']-df['red'])*((830-660)/(1650-660))),
                # fai = (nir - red) + (red -swir) * (830-660)/(1648-660)
                N_S= df['nir'] - df['swir1'],
                N_R = df['nir']- df['red'],
                #
                ndvi = ((df['nir']-df['red'])/(df['nir']+df['red'])),
                ndwi = ((df['green']- df['swir1'])/(df['green'] + df['swir1'])),
                ndssi = ((df['blue'] - df['nir'])/ (df['blue'] + df['nir'])),
                gn_gn= ((df['green']- df['nir'])/ (df['green'] + df['nir'])),
                Matchup = 'AquaSat')

print(df.columns.values.tolist())

['system.index', 'SiteID', 'blue', 'blue_sd', 'date_unity', 'green', 'green_sd', 'nir', 'nir_sd', 'path', 'pixelCount', 'qa', 'qa_sd', 'red', 'red_sd', 'row', 'sat', 'swir1', 'swir1_sd', 'swir2', 'swir2_sd', '.geo', 'endtime', 'date', 'date_only', 'chl_a', 'doc', 'p_sand', 'secchi', 'tis', 'tss', 'source', 'lat', 'long', 'TZID', 'date_utc', 'clouds', 'time', 'landsat_id', 'timediff', 'pwater', 'type', 'id', 'NR', 'BR', 'GR', 'SR', 'BG', 'RG', 'NG', 'SG', 'BN', 'GN', 'RN', 'SN', 'BS', 'GS', 'RS', 'NS', 'R_GN', 'R_GB', 'R_GS', 'R_BN', 'R_BS', 'R_NS', 'G_BR', 'G_BN', 'G_BS', 'G_RN', 'G_RB', 'G_NS', 'B_RG', 'B_RN', 'B_RS', 'B_GN', 'B_GS', 'B_NS', 'N_RG', 'N_RB', 'N_RS', 'N_GB', 'N_GS', 'N_BS', 'GR2', 'GN2', 'RN2', 'BR_G', 'NS_NR', 'fai', 'N_S', 'N_R', 'ndvi', 'ndwi', 'ndssi', 'gn_gn', 'Matchup']

In [53]:
print(df.date.head())

0    1990-04-19
1    1988-04-13
2    1989-10-09
3    1986-08-05
4    1986-06-18
Name: date, dtype: object

In [54]:
wqpEx = pd.read_csv('/nas/cee-water/cjgleason/ellie/SNiP/RFmodel/CONUS/WQP/WQP_tss/wqp_huc01_tss_clean.csv')
print(wqpEx.columns.values.tolist())
print(wqpEx.head())

['date', 'parameter', 'SiteID', 'huc', 'org', 'org_id', 'time', 'sample_method', 'analytical_method', 'particle_size', 'date_time', 'media', 'fraction', 'status', 'hydroCondition', 'hydroEvent', 'lat', 'long', 'datum', 'parameter_name', 'value', 'units', 'sample_depth', 'sample_depth_unit']
         date                               parameter         SiteID      huc  \
0  1984-07-17  Suspended Sediment Concentration (SSC)  USGS-01015000  1010009
1  1986-08-05  Suspended Sediment Concentration (SSC)  USGS-01015000  1010009
2  1985-07-10  Suspended Sediment Concentration (SSC)  USGS-01015000  1010009
3  1987-08-26  Suspended Sediment Concentration (SSC)  USGS-01015000  1010009
4  1984-05-08  Suspended Sediment Concentration (SSC)  USGS-01015000  1010009

                               org   org_id      time sample_method  \
0  USGS Maine Water Science Center  USGS-ME  21:00:00          USGS
1  USGS Maine Water Science Center  USGS-ME  14:30:00          USGS
2  USGS Maine Water Science Center  USGS-ME  14:00:00          USGS
3  USGS Maine Water Science Center  USGS-ME  18:00:00          USGS
4  USGS Maine Water Science Center  USGS-ME  14:30:00          USGS

  analytical_method particle_size  ...        hydroCondition      hydroEvent  \
0               NaN   < 0.0625 mm  ...  Stable, normal stage  Routine sample
1               NaN   < 0.0625 mm  ...  Stable, normal stage  Routine sample
2               NaN   < 0.0625 mm  ...  Stable, normal stage  Routine sample
3               NaN   < 0.0625 mm  ...  Stable, normal stage  Routine sample
4               NaN   < 0.0625 mm  ...  Stable, normal stage  Routine sample

         lat       long  datum parameter_name  value  units sample_depth  \
0  47.159806 -67.931169  NAD83         p.sand   70.0      %          NaN
1  47.159806 -67.931169  NAD83         p.sand   81.0      %          NaN
2  47.159806 -67.931169  NAD83         p.sand   55.0      %          NaN
3  47.159806 -67.931169  NAD83         p.sand   82.0      %          NaN
4  47.159806 -67.931169  NAD83         p.sand   36.0      %          NaN

  sample_depth_unit
0                 m
1                 m
2                 m
3                 m
4                 m

[5 rows x 24 columns]

In [55]:
file_list = glob.glob(os.path.join('/nas/cee-water/cjgleason/ellie/SNiP/RFmodel/CONUS/WQP/WQP_tss/', '*.csv'))
dataframe = pd.concat(map(pd.read_csv, file_list), ignore_index=True)

dataframe = dataframe[['date', 'parameter', 'SiteID', 'huc', 'org', 'org_id', 'sample_method', 'analytical_method', 
                               'particle_size', 'media', 'fraction', 'status', 'hydroCondition', 'hydroEvent', 
                               'datum', 'parameter_name', 'units', 'sample_depth', 
                               'sample_depth_unit']]
file_list2 = glob.glob(os.path.join('/nas/cee-water/cjgleason/ellie/SNiP/RFmodel/CONUS/WQP/WQP_notAquasat/', '*.csv'))
dataframe2 = pd.concat(map(pd.read_csv, file_list2), ignore_index=True)

dataframe2 = dataframe2[['date', 'parameter', 'SiteID', 'huc', 'org', 'org_id', 'sample_method', 'analytical_method', 
                               'particle_size', 'media', 'fraction', 'status', 'hydroCondition', 'hydroEvent', 
                               'datum', 'parameter_name', 'units', 'sample_depth', 
                               'sample_depth_unit']]

/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.concat(map(pd.read_csv, file_list), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.concat(map(pd.read_csv, file_list), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.concat(map(pd.read_csv, file_list), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.concat(map(pd.read_csv, file_list), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.concat(map(pd.read_csv, file_list), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.concat(map(pd.read_csv, file_list), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.concat(map(pd.read_csv, file_list), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.concat(map(pd.read_csv, file_list), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.concat(map(pd.read_csv, file_list), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:9: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe2 = pd.concat(map(pd.read_csv, file_list2), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:9: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe2 = pd.concat(map(pd.read_csv, file_list2), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:9: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe2 = pd.concat(map(pd.read_csv, file_list2), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:9: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe2 = pd.concat(map(pd.read_csv, file_list2), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:9: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe2 = pd.concat(map(pd.read_csv, file_list2), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:9: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe2 = pd.concat(map(pd.read_csv, file_list2), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:9: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe2 = pd.concat(map(pd.read_csv, file_list2), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:9: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe2 = pd.concat(map(pd.read_csv, file_list2), ignore_index=True)
/scratch/ceewater-cpu001/6672466/ipykernel_3455331/749122402.py:9: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe2 = pd.concat(map(pd.read_csv, file_list2), ignore_index=True)

In [56]:
dataframe3 = pd.concat([dataframe, dataframe2], axis=0)

In [57]:
#Re-add metadata: 
joined_df = pd.merge(df, dataframe3, on=join_on_column, how='left')
print(joined_df.shape[0])

88597

In [58]:
#write to csv
#df.to_csv(r'aquasat_stream_tss.csv')
joined_df.to_csv(r'aquasat_stream_tss.csv')